@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display:flex;
    justify-content:space-around;
    background-color:#B9D0E9;
    align-items:center;
    position: sticky;
    top:0;
}
nav{
    display:flex;
    gap:20px;
}
.logo{
    color:#0E2239;
}
.btn-cv-link{
    padding:5px;
    color:#0E2239;
    border-radius:5px;
    outline:none;
}
.list{
    text-decoration: none;
    color:#0E2239;
}
.list:hover{
    color:white;
}
/* section */
section.hero-section{
    background-color:#B9D0E9;
    display:flex;
    align-items:center;
    padding:10px 30px 0 50px;
}
.hero-title{
    font-size:48px;
    font-weight:900;
}
.social_Icons{
    margin:5px;
}
.links_Social{
    display:flex;
    gap:3px;
}
.social_Icons li{
  list-style-type: none;
}
.social_Icons li .fa-linkedin:hover{
    color:white;
}
/* Button */
.btn-cv-link:hover{
    color:white;
    background-color: plum;
}
.hero-image{
    border-radius:10%;
    border:10px solid #B9D0E9;
    padding-bottom:15px;
}
/* About Sectiom */
.about-section{
    display:flex;
    background-color:white;
     padding:20px;
     justify-content: center;
     align-items:center;
}
.about-section h4{
    font-weight:900;
    font-size: 2rem;
}
.list-about-me{
    list-style-type: none;
}
.hero-circle-pic{
border-radius:50%;
width:350px;
height:350px;
border:3px solid  #0E2239;
box-shadow:10px 10px 10px #0E2239;
}
.hero-section-details{
    padding:100px;
}
.section-skills li{
    margin-top: 10px;
}
.section-skills button{
    margin-top: 10px;
}
.section-skills li > a{
   text-decoration: none;
}
.section-myworks{
    background-color: #B9D0E9;
    padding:50px;
    text-align: center;
}
.work-section-box{
max-width: 350px ;
background-color: #214469;
color:white;
padding:20px 30px;
border-radius: 10px;
text-align:left;
margin-top: 30px;
}
.work-section-box a{
    text-decoration: none;
    color:orange;
    margin-top: 5px;
    display:block;
}
.icons-myworks .fa-react{
    background-color:purple;
    padding:10px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.work-section-box:hover{
background-color: #092038;
cursor: pointer;
}
.work-section-box p{
    margin-top: 5px;
}
.works-section-items{
    display:flex;
    gap:20px;
    justify-content: space-evenly;
}
.section-myworks h4{
    font-weight: 900;
    font-size: 20px;
}